
.overflow-hidden {
    overflow: hidden;
}
.border {
    border: 1px solid grey;
}
.border-bottom {
    border-bottom: 1px solid grey;
}
.border-right {
    border-right: 1px solid grey;
}
.flex {
    display: flex;
}
.height100vh {
    height: 100vh;
}
.height100 {
    height: 100%;
}
.height25 {
    height: 25%;
}
.width100 {
    width: 100%;
}
.width75 {
    width: 75%;
}
.width25 {
    width: 25%;
}
.width50 {
    width: 50%;
}
.overflow {
    overflow: auto;
}
.overflow::-webkit-scrollbar {
    display: none;
}
.clickable:hover {
    cursor: pointer;
}
.text-align-center {
    text-align: center;
}
.center {
    margin: auto;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-space {
    display: flex;
    justify-content: space-between;
}
.font-x-large {
    font-size: x-large;
}
.font-large {
    font-size: large;
}
.float-right {
    float: right;
}
.red {
    background-color: red;
}
.background-grey {
    background-color: #45484a;
    color: white;
}
.padding-15px {
    padding: 15px;
}
.padding-10px {
    padding: 10px;
}
.rounded_h {
    border-radius: 50vh;
}
.margin-top-10px {
    margin-top: 10px;
}
.inline-block {
    display: inline-block;
}
.margin-right-0 {
    margin-right: 0px;
}
.font-grey {
    color: grey;
}
.float-right-10 {
    margin-left: auto;
    margin-right: 10px;
}
.white-text {
    color: white;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.bold {
    font-weight: bold;
}

.black-background {
    background-color: black;
}
.position-fixed-right {
    position: fixed;
    right: 0px;
}
.font-red {
    color: red;
}

.visibility-visible {
    visibility: visible;
}
.visibility-hidden {
    visibility: hidden;
}
.z-index-1k {
    z-index: 1000;
}
.z-index-0 {
    z-index: 0;
}
.opacity-0 {
    opacity: 0;
}
.opacity-75 {
    opacity: 0.75;
}