body {
    overflow: hidden;
}
html, body, #root {
    height: 100%;
    margin: 0;
}

.stop_box:hover {
    background-color: #d5d5d5;
    cursor: pointer;
}
.stop_box {
    height: 120px;
    border-bottom: 1px solid grey;
}
.departure_box {
    min-height: 120px;
    border-bottom: 1px solid grey;
}
.departure_box:hover {
    cursor: pointer;
    background-color: #d5d5d5;
}

.small_route_button {
    display: inline-block;
    border-radius: 50vh;
    text-align: center;
    margin-right: 10px;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.estimated_button {
    border: 1px solid black;
    border-radius: 50vh;
    text-align: center;
    font-size: large;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-bar {
    background-color: black;
    height: 30px;
}
#settings_icon_box:hover {
    background-color: gray;
    cursor: pointer;
}
#settings_elem {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}
#settings_icon_box:hover + #settings_elem {
    visibility: visible;
    opacity: 1;
}
#settings_elem:hover {
    opacity: 1;
    visibility: visible;
}
#refresh_icon_box:hover {
    background-color: gray;
    cursor: pointer;
}
.leaflet-container  {
  width: 100%;
  height: 100vh;
}
.modal {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);

    position: fixed;
    left: 0px;
    top: 0px;

    height: 100%;
    width: 100%;
}
.modal_box {
    z-index: 1001;
    
    background-color: white;
    opacity: 100%;

    height: 75%;
    width: 75%;
    overflow: auto;
}
.modal_close_button {
    float: right;
    font-size: xx-large;
    color: lightgray;
}
.modal_close_button:hover {
    color: gray;
}
.set_location_button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.set_location_button {
    opacity: 0.7;
    background-color: black;
    border-bottom: 1px solid grey;

    padding: 15px;
}